<div class="card bg-light mb-3 hero-container" style="max-width: 18rem;" (click)="gotoDetails(hero)">
  <div class="card-header noWrap">{{hero.name}}
  </div>
  <div class="card-body flex-container">
      <div class="main-content">
        <h5 class="card-title">{{hero.race.toLowerCase()}} <img [src]='hero.sexe==="m"? "../../assets/male.svg": "../../assets/female.svg"' width="16px"></h5>
        <p><i class="ra ra-gold-bar money"></i>{{hero.gold}}</p>
        <ul>
          <li><i class="ra ra-glass-heart" style="color: red"></i>{{this.life}} PV</li>
          <li><i class="ra ra-aura"></i>{{this.totalArmor}} armor</li>
          <li *ngFor="let stat of stats">
            <i class="{{MapStats[stat.name].name}}" [ngStyle]="{'color': MapStats[stat.name].color}"></i>{{stat.name}}: {{stat.value}}<i *ngIf="MapStats[stat.name].bonus" style="color:red">+({{MapStats[stat.name].bonus}})</i>
          </li>
        </ul>
        <div *ngFor="let config of hero.config">
          <h5 *ngIf="config.primary">Armes principales</h5>
          <h5 *ngIf="!config.primary">Armes secondaires</h5>
          <ul>
            <li *ngFor="let weapon of config.weapons">
                <i [class]="type[weapon.type].icon" [ngStyle]="{'color': 'rgba('+getIconColor(weapon.state).r+','+ getIconColor(weapon.state).g+', 0)'}">
                </i>{{weapon.name.toLowerCase()}}: {{weapon.damage}} dmg
                <p *ngIf="weapon.type =='BOW' || weapon.type =='CROSSBOW'">
                  <i class="ra ra-arrow-flights"></i>Flèches: {{config.ammos}}
                </p>
                <p *ngIf="weapon.type =='GUN' || weapon.type =='MUSKET'">
                  <i class="ra ra-bullets"></i>Bullets: {{config.ammos}}
                </p>
            </li>
            <li *ngIf="config.shield"><i class="ra ra-shield" [ngStyle]="{'color': 'rgba('+getIconColor(config.shield.state).r+','+ getIconColor(config.shield.state).g+', 0)'}"></i>{{config.shield.name.toLowerCase()}} : {{config.shield.armor}} arm</li>
          </ul>
        </div>
    </div>
    <div class="armor-content" *ngIf="armors">
      <h5 *ngIf="setBonus">Set Bonus: <i [ngStyle]="{'color': armors[0].font.colorStyle}">{{armors[0].piece.material}}</i></h5>
      <div *ngFor="let armor of armors" class="armorInfo">
        <div class="armor-icon-container">
        <i class="{{armor.piece !== null ? armor.icon : ''}} armorIcon" [ngStyle]="{'color': armor.font.colorStyle}"></i>
        </div>
        <div class="armorText">
          <p>{{armor.piece.name.toLowerCase()}}</p>
          <p>{{armor.piece.armor}} : arm</p>
          <p>{{armor.piece.weigth}} kg</p>
        </div>
      </div>
    </div>
  </div>
</div>
