li {
  list-style-type: none;
}

ul{
  margin:0;
  padding:0;
  padding-bottom: 10px;
  padding-top: 10px;
}

i{
  margin:10px;
}

.money{
  color:gold;
}

.noWrap{
  white-space: nowrap;
}

.armorIcon{
  margin:0!important;
  width:16px;
}


.flex-container{
  display: flex;
  flex-direction: column;
}

.armor-content{
  text-align: center;
}


.armor-icon-container{
  margin:10px;
}

.armorText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.armor-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.armorInfo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

