.cardLayout{
  display: flex;
  flex-direction: column;
}

.cardContainer{
  margin:10px;
  padding:10px;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

