<div class="cardLayout general-layout">
  <navbar></navbar>
  <div class="cardContainer">
    <div *ngFor="let heroe of heroes">
      <heroe-card [hero]=heroe></heroe-card>
    </div>
  </div>
</div>
