.navbar-content{
  width: 100%;
  heigth:75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
}
.navbar-content>p{
  margin:5px;
  padding-left: 20px;
  font-style: italic;
}

.navbar-content>p:hover{
  color:cornflowerblue;
}
